pipeline:
  - name: load_data
  - name: bandpass_filter
    l_freq: 0.5
    h_freq: 40.0
  - name: reference
    instance: 'raw'
    ref_channels: average
  - name: find_events
    shortest_event: 1
  - name: epoch
    tmin: -0.2
    tmax: 0.8
    baseline: [null, 0]
    event_id: null
    reject: null
  - name: find_bads_channels_threshold
    reject:
      eeg: 1.5e-04
    n_epochs_bad_ch: 0.5
  - name: find_bads_channels_variance
    instance: epochs
    zscore_thresh: 4
    max_iter: 2
  - name: find_bads_channels_high_frequency
    instance: epochs
    zscore_thresh: 4
    max_iter: 2
  - name: find_bads_epochs_threshold
    reject:
      eeg: 1.5e-04
    n_channels_bad_epoch: 0.1
  - name: save_clean_epochs
  - name: generate_json_report
  - name: generate_html_report
