pipeline:
  - name: strip_recording
    instance: all_raw
    get_events_from: annotations
    shortest_event: 5
    event_id:
      #New Segment/: 1
      #Response/Resp1New: 2
      #Response/Resp1Old: 3
      #Response/Resp2No: 4
      #Response/Resp2Yes: 5
      Stimulus/CatNewRepeated/CR: 91
      #Stimulus/CatNewRepeated/FA: 92
      Stimulus/CatNewUnique/CR: 93
      #Stimulus/CatNewUnique/FA: 94
      Stimulus/CatOld/Hit: 101
      #Stimulus/CatOld/Miss: 102
      #Stimulus/Fixation: 6
      #Stimulus/ScreenResp1: 7
      #Stimulus/ScreenResp2: 8
      #Stimulus/StimNew: 9
      #Stimulus/StimOld: 10
      #Stimulus/brk-: 11
    start_padding: 1
    end_padding: 1
  
  - name: concatenate_recordings

  - name: set_montage
    montage: GSN-HydroCel-256

  - name: drop_unused_channels
    instance: raw
    channels_to_drop: ['E242', 'E243', 'E244', 'E245', 'E246', 'E247', 'E248', 'E249', 'E250', 'E251', 'E252', 'E253', 'E254', 'E255', 'E256', 'E67', 'E73', 'E68', 'E229', 'E210', 'E218', 'E228', 'E233', 'E219', 'E227', 'E232', 'E237', 'E225', 'E226', 'E231', 'E236', 'E230', 'E235', 'E240', 'E234', 'E239']

  - name: copy_instance
    from_instance: raw
    to_instance: raw_before_cleaning

  - name: find_flat_channels
    threshold: 1.0e-12

  - name: bandpass_filter
    l_freq: 0.1
    h_freq: 40.0
  
  - name: notch_filter
    freqs: [50.0, 100.0]

  - name: chunk_in_epoch
    duration: 1
  
  - name: find_bads_channels_threshold
    reject:
      eeg: 2.0e-4
    n_epochs_bad_ch: 0.5
    apply_on: ['raw']
  
  - name: find_bads_channels_variance
    instance: epochs
    apply_on: ['raw']
    zscore_thresh: 4
    max_iter: 2
  
  - name: find_bads_channels_high_frequency
    instance: epochs
    apply_on: ['raw']
    zscore_thresh: 4
    max_iter: 2
  
  - name: ica
    n_components: 20
    method: fastica
    find_eog: true
    eog_channels: [E1, E18, E37, E54, E238, E241]
    eog_threshold: 0.4   # null => seuil auto MNE
    eog_measure: 'correlation'
    find_ecg: true
    ecg_channels: [E2, E3]
    ecg_threshold: 0.4   # null => seuil auto MNE
    ecg_measure: 'correlation' 
    ica_l_freq: 1.0
    #selected_indices: [0, 1, 2]  # Uncomment and set to manually select components to remove
    apply: true
  
  #- name: find_bads_channels_threshold
  #  reject:
  #    eeg: 1.0e-4
  #  n_epochs_bad_ch: 0.5
  #  apply_on: ['raw']
  
  #- name: find_bads_channels_variance
  #  instance: epochs
  #  apply_on: ['raw']
  #  zscore_thresh: 4
  #  max_iter: 2
  
  #- name: find_bads_channels_high_frequency
  #  instance: epochs
  #  apply_on: ['raw']
  #  zscore_thresh: 4
  #  max_iter: 2

  - name: find_events
    get_events_from: annotations
    shortest_event: 1
    event_id:
      #New Segment/: 1
      #Response/Resp1New: 2
      #Response/Resp1Old: 3
      #Response/Resp2No: 4
      #Response/Resp2Yes: 5
      Stimulus/CatNewRepeated/CR: 91
      #Stimulus/CatNewRepeated/FA: 92
      Stimulus/CatNewUnique/CR: 93
      #Stimulus/CatNewUnique/FA: 94
      Stimulus/CatOld/Hit: 101
      #Stimulus/CatOld/Miss: 102
      #Stimulus/Fixation: 6
      #Stimulus/ScreenResp1: 7
      #Stimulus/ScreenResp2: 8
      #Stimulus/StimNew: 9
      #Stimulus/StimOld: 10
      #Stimulus/brk-: 11
  
  - name: epoch
    tmin: -0.2
    tmax: 1.2
    baseline: [null, 0.0]
    reject: null
  
  - name: find_bads_epochs_threshold
    apply_on: ['epochs', 'raw']
    reject:
      eeg: 2.0e-4
    n_channels_bad_epoch: 0.1

  - name: reference
    instance: 'epochs'
    ref_channels: average

  - name: reference
    instance: 'raw'
    ref_channels: average

  #- name: interpolate_bad_channels
  #  instance: epochs
  
  #- name: interpolate_bad_channels
  #  instance: raw
  
  - name: save_clean_instance
    instance: epochs
    overwrite: true

  - name: save_clean_instance
    instance: raw
    overwrite: true
    
  - name: generate_json_report
  
  - name: generate_html_report
    compare_instances: 
      - title: 'Before vs After Cleaning'
        instance_a:
          name: 'raw'
          label: 'After Cleaning'
        instance_b:
          name: 'raw_before_cleaning'
          label: 'Before Cleaning'

    plot_raw_kwargs:
      psd: true
      scalings:
        eeg: 100e-6