pipeline:
  #- name: set_montage
  #  montage: standard_1020

  - name: load_data

  - name: drop_unused_channels
    instance: raw
    channels_to_drop: ['E242', 'E243', 'E244', 'E245', 'E246', 'E247', 'E248', 'E249', 'E250', 'E251', 'E252', 'E253', 'E254', 'E255', 'E256', 'E67', 'E73', 'E68', 'E82', 'E91', 'E92', 'E102', 'E103', 'E111', 'E112', 'E120', 'E121', 'E133', 'E134', 'E145', 'E146', 'E156', 'E165', 'E166', 'E174', 'E175', 'E187', 'E188', 'E199', 'E200', 'E208', 'E209', 'E216', 'E217', 'E229', 'E210', 'E218', 'E228', 'E233', 'E219', 'E227', 'E232', 'E237', 'E225', 'E226', 'E231', 'E236', 'E230', 'E235', 'E240', 'E234', 'E239']
  
  - name: bandpass_filter
    l_freq: 0.1
    h_freq: 40.0
  
  - name: notch_filter
    freqs: [50.0, 100.0]
  
  - name: resample
    instance: raw
    sfreq: 250.0
    npad: 'auto'
  
  - name: find_events
    shortest_event: 1
  
  - name: epoch
    tmin: -0.2
    tmax: 1.2
    baseline: [null, 0.0]
    event_id: null
    reject: null
  
  - name: find_bads_channels_threshold
    reject:
      eeg: 1.0e-4
    n_epochs_bad_ch: 0.5
    apply_on: ['epochs', 'raw']
  
  - name: find_bads_channels_variance
    instance: epochs
    apply_on: ['epochs', 'raw']
    zscore_thresh: 4
    max_iter: 2
  
  - name: find_bads_channels_high_frequency
    instance: epochs
    apply_on: ['epochs', 'raw']
    zscore_thresh: 4
    max_iter: 2
  
  - name: find_bads_epochs_threshold
    apply_on: ['epochs', 'raw']
    reject:
      eeg: 1.0e-4
    n_channels_bad_epoch: 0.1
  
  - name: reference
    instance: 'epochs'
    ref_channels: average
  
  - name: reference
    instance: 'raw'
    ref_channels: average
  
  - name: interpolate_bad_channels
    instance: epochs
  
  - name: interpolate_bad_channels
    instance: raw
  
  - name: save_clean_instance
    instance: epochs
    overwrite: true

  - name: save_clean_instance
    instance: raw
    overwrite: true
    
  - name: generate_json_report
  
  - name: generate_html_report
