custom_steps_folder: /network/iss/cohen/data/Laouen/git/nice_preprocessing/custom_steps

pipeline:

  - name: preprocess_stim_egi_lg

  - name: concatenate_recordings

  - name: bandpass_filter
    l_freq: 0.5
    l_freq_order: 8
    h_freq: 40.0
    h_freq_order: 6
  
  - name: notch_filter
    freqs: [50.0, 100.0]

  - name: find_events
    get_events_from: stim_channel
    stim_channel: 'STI 014'
    shortest_event: 1

  - name: epoch
    tmin: -0.2
    tmax: 1.34
    baseline: [null, 0]
    event_id:
      HSTD: 10   # High Standard
      HDVT: 20   # High Deviant
      LSGS: 30   # Low Standard Global Standard
      LSGD: 40   # Low Standard Global Deviant
      LDGS: 50   # Low Deviant Global Standard
      LDGD: 60   # Low Deviant Global Deviant

  - name: find_bads_channels_threshold
    apply_on: ['epochs']
    reject:
      eeg: 1.0e-4
    n_epochs_bad_ch: 0.5

  - name: find_bads_channels_variance
    instance: epochs
    apply_on: ['epochs']
    zscore_thresh: 4
    max_iter: 2

  - name: find_bads_channels_high_frequency
    instance: epochs
    apply_on: ['epochs']
    zscore_thresh: 4
    max_iter: 2

  - name: find_bads_epochs_threshold
    apply_on: ['epochs']
    reject:
      eeg: 1.0e-4
    n_channels_bad_epoch: 0.1

  - name: reference
    instance: epochs
    ref_channels: average

  - name: interpolate_bad_channels
    instance: epochs

  - name: resample
    instance: epochs
    sfreq: 250.0
    npad: auto

  - name: save_clean_instance
    instance: epochs

  - name: generate_json_report

  - name: generate_html_report