custom_steps_folder: /network/iss/cohen/data/Laouen/git/nice_preprocessing/custom_steps

pipeline:

  - name: preprocess_stim_egi_lga

  - name: concatenate_recordings

  - name: bandpass_filter
    l_freq: 0.5
    l_freq_order: 8
    h_freq: 45.0
    h_freq_order: 6
  
  - name: notch_filter
    freqs: [50.0, 100.0]

  - name: resample
    instance: epochs
    sfreq: 250.0
    npad: auto

  - name: find_events
    get_events_from: stim_channel
    stim_channel: 'STI 014'
    shortest_event: 1

  - name: drop_unused_channels
    instance: raw
    channels_to_drop:
      - 'STI 014'

  - name: epoch
    tmin: -0.2
    tmax: 1.34
    baseline: [null, 0]
    event_id:
      HSTD: 10   # Habituation Standard
      HDVT: 20   # Habituation Deviant
      LSGS: 30   # Local Standard Global Standard
      LSGD: 40   # Local Standard Global Deviant
      LDGD: 50   # Local Deviant Global Deviant
      LDGS: 60   # Local Deviant Global Standard

  - name: find_bads_channels_threshold
    apply_on: ['epochs']
    reject:
      eeg: 0.0001
    n_epochs_bad_ch: 0.5

  - name: find_bads_channels_variance
    instance: epochs
    apply_on: ['epochs']
    zscore_thresh: 4
    max_iter: 4

  - name: find_bads_epochs_threshold
    apply_on: ['epochs']
    reject:
      eeg: 0.0001
    n_channels_bad_epoch: 0.1

  - name: find_bads_channels_high_frequency
    instance: epochs
    apply_on: ['epochs']
    zscore_thresh: 4
    max_iter: 4

  - name: reference
    instance: epochs
    ref_channels: average

  - name: interpolate_bad_channels
    instance: epochs

  - name: save_clean_instance
    instance: epochs

  - name: generate_json_report

  - name: generate_html_report